<%- include ../header %>
<script>
    function saveUser() {
         var valid = true;
        
        var username = $("#username").val();
        var name = $("#name").val();
        var password = $("#password").val();
        var re_password = $("#re_password").val();
        var role = $('#role').val();
        var department = $('#department').val();
        
      valid = valid && checkLength( username, "用户名", 3, 16 );
      valid = valid && checkLength( name, "姓名", 1, 80 );
      valid = valid && checkLength( password, "密码", 6, 16 );
      
      if(password!==re_password){
          showinfo('密码不一致');
          return;
      }
      if(valid){
          
           showinfo("请稍后,正在保存....");
        $('#sohu_doSubmit').hide();
        $.ajax({
            type: 'POST',
            url: "/userAdd",
            data: {
                username:username,
                password:password,
                name: name,
                role :role,
                department:department
            },
            dataType: "json",
            success: function(text) {
                console.info(text);
                if (text === 200) {
                    showinfo("保存成功。");
                    setTimeout(function() {
                        location.href = "/user";
                    }, 500);
                } else {
                    showinfo(text);
                    $('#sohu_doSubmit').show();
                }
            },
            error: function(XMLHttpRequest, textStatus) {
                showinfo(textStatus);
            }
        });
      }
    }
    
    function showinfo(text) {
        $("#info").text(text);
    }
    
    function checkLength( o, n, min, max ) {
      if ( o.length > max || o.length < min ) {
        showinfo(n+'填写有误。');
        return false;
      } else {
        return true;
      }
    }
</script>

<%- include ../body %>  
<div class="content-box"><!-- Start Content Box -->
    <div class="content-box-header">
        <h3>创建用户</h3>



        <div class="clear"></div>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
         <div class="notification information png_bg" id="infobox">
            <div id="info">
                输入权限名，选择此权限可进行的操作，然的后点击“保存”。
            </div>
        </div>
        <form>
            <fieldset>
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>用户名</label>
                        </td>
                        <td>
                            <input class="text-input medium-input" type="text" id="username" name="username-input" /> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>姓名</label>
                        </td>
                        <td>
                            <input class="text-input medium-input" type="text" id="name" name="username-input" /> 
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <label>密码</label>
                        </td>
                        <td > 
                            <input class="text-input medium-input" type="password" id="password" name="username-input" /> 
                        </td>

                    </tr>
                    <tr>
                        <td> 
                            <label>确认密码</label>
                        </td>
                        <td > 
                            <input class="text-input medium-input" type="password" id="re_password" name="username-input" /> 
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <label>选择用户角色</label>
                        </td>
                        <td > 

                            <select name="role" class="small-input" id="role">
                                <% for(var i=0;i<roleList.length;i++){%>
                                    <option value="<%= roleList[i].id%>" > <%=roleList[i].text %></option>
                                    <% }%>


                            </select> 
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <label>选择所属部门</label>
                        </td>
                        <td > 
                            <select name="department" class="small-input" id="department">
                                <% for(var i=0;i<departmentList.length;i++){%>
                                    <option value="<%= departmentList[i].id%>" > <%=departmentList[i].text %></option>
                                    <% }%>


                            </select> 
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="button" id="sohu_doSubmit" onClick="saveUser();">提交</div>
                        </td> 
                        <td></td> 
                    </tr>

                </table>

            </fieldset>

        </form>


    </div> <!-- End .content-box-content -->

</div> <!-- End .content-box -->
<%- include ../footer %>