
	</head>
  
	<body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		<div class="top">
                    
	    <% var systemname = "";
            var map1 = "";
            var map2 = "";
             %>
                <ul>
                	<% for(var i=0; i<menu.systems.length; i++) { %>
                    <li>
                        <% if(menu.systems[i].current){%>        
                    		<a  href ='#'  class ="system_current">
                    		<%= menu.systems[i].text %>
                            <%  systemname = menu.systems[i].text %>
                    		</a>
                    	<% }else{ %>
                    	<a  href = "<%= menu.systems[i].route %>">
                    		<%= menu.systems[i].text %>
                    		</a>

                    	<% } %>
                    </li>
                    <% } %>
                </ul>
         </div>

		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
            
			<!-- Sidebar Profile links -->
			<div id="profile-links">
                <h3 id="system_name" style="color:#fff"><%= systemname%></h3>
				你好 ， <a href="#" ><%= user.name %></a>
				<br />
			
				<br />
				 <a href="/logout" title="Sign Out" class="button">退出</a>
			</div>        
			
			<ul id="main-nav">                
				<% for(var i=0; i<menu.current.length; i++) { %>
					<li> 
						<%  var href = "#";
                         	if(menu.current[i].route){
                         		href =menu.current[i].route;
                         	}
                         %>

                       <% if(menu.current[i].current) { %>
                            <a  href ="<%= href %>" class="nav-top-item current">
                                <%= menu.current[i].text %>
                                <% map1 =menu.current[i].text %>
                             </a>
                        <% } else{%>
                       		 <a href ="<%= href %>" class="nav-top-item">
                                <%= menu.current[i].text %>
                             </a>

                        <% } %>
                        <% if(menu.current[i].sub.length>0){ %>
                        <ul>
                        	<% for(var j=0; j<menu.current[i].sub.length; j++) { %>
                        		<%  var href2 = "#";
                         		if(menu.current[i].sub[j].route){
                         			href2 =menu.current[i].sub[j].route;
                         		}
                        	 %>

                       		<% if(menu.current[i].sub[j].current) { %>
                            	<li><a  href ="<%= href2 %>" class="current">
                                <%= menu.current[i].sub[j].text %>
                                <% map2 =menu.current[i].sub[j].text %>
                             	</a></li>
                        	<% } else{%>
                       			<li> <a href ="<%= href2 %>">
                             	   <%= menu.current[i].sub[j].text %>
                             	</a></li>
                       	 	<% } %>
  							<% }%>
  							</ul>
                        <% }%>
                         
                     </li>    
   				 <% } %>


			</ul> <!-- End #main-nav -->
		</div></div> <!-- End #sidebar -->
		
		<div id="main-content"> <!-- Main Content Section with everything -->
			
			<p>当前位置：<%= map1 %> >    <%= map2 %></p>
			<div class="clear"></div> <!-- End .clear -->
                        
			
			
				