<%- include ../../header %>



<%- include ../../body %>  
<div class="content-box"><!-- Start Content Box -->

    <div class="content-box-header">
        <h3>新闻支持任务</h3>
        <ul class="content-box-tabs">

            <li><a href="/newssupportNew" class="button" id="create-user" >添加任务</a></li> <!-- href must be unique and match the id of target div -->

        </ul>


        <div class="clear"></div>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <table>

            <thead>
                <tr>
                    <th>名称</th>
                    <th>门户</th>

                    <th>任务数量</th>
                    <th>执行数量</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    

                </tr>

            </thead>

            <tfoot>
                <tr>
                    <td colspan="6">

                        <div class="pagination">



                            <% if( task.currentPage >1  ){%>
                            <a class="number current" href=<%= '/newssupport?p=1'%> >首页</a>
                            <a class="number current" href=<%= '/newssupport?p=' + (task.currentPage-1)  %> >前一页</a>
                            <% } %>


                            第<%= task.currentPage  %>页 (共 <%= task.pageCount %> 页）



                            <% if( task.pageCount > task.currentPage){ %>
                            <a class="number current" href=<%= '/newssupport?p=' + (task.currentPage+1) %> >下一页</a>
                            <a class="number current" href=<%= '/newssupport?p=' + task.pageCount %>  > 尾页</a>
                            <% } %>


                        </div> <!-- End .pagination -->
                        <div class="clear"></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>

                <%  for(var i=0;i<task.results.length;i++){ %>
                <tr>
                    <td><%= task.results[i].name %></td>
                    <%  if(task.results[i].task===304){ %>
                    <td>网易</td>
                    <%}else if(task.results[i].task===404){%>
                    <td>搜狐</td>
                    <%}%>
                    <td><%= task.results[i].sub_count %></td>
                    <td><a class="button" href="/newssupportdetail?id=<%= task.results[i].task_id %>" target="_blank"><%= task.results[i].sub_schedule_count %></a></td>

                  
                    <td><%= task.results[i].create_time %></td>
                    

                    <%  if(task.results[i].task_status===0){ %>
                    <td>等待</td>
                    <%}else if(task.results[i].task_status===1){%>
                    <td>完成</td>
                    <%}else if(task.results[i].task_status===2){%>
                    <td>开始</td>
                    <%}else if(task.results[i].task_status===3){%>
                    <td>暂停</td>
                    <%}else if(task.results[i].task_status===4){%>
                    <td>失败</td>
                    <%}else if(task.results[i].task_status===5){%>
                    <td>取消</td>
                    <%}else{%>
                    <td>未知</td>
                    <%}%>

                    <% if(false){%> 
                    <!-- 权限判断 -->
                    <td>
                        <!-- Icons -->

                        <a href="#" title="删除"><img src="images/icons/cross.png" alt="删除" /></a> 
                    </td>
                    <% } %>
                </tr>
                <% } %>




                </tbodu>
        </table>
    </div> <!-- End .content-box-content -->

</div> <!-- End .content-box -->
<!--
<div id="dialog-detail" title="执行结果详情"> 
    <table cellpadding="0" cellspacing="0" border="0"   id="detailTable" style="width: 100%;  margin: 0 auto">

 <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="15%">操作时间</th>
       <th width="10%">状态</th>
      <th width="15%">IP地址</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  
</table>
</div>
-->



<%- include ../../footer %>