<%- include ../header %>


<%- include ../body %>  
<!-- Start Content Box -->
<% for(var i=0;i<list.length;i++){ %>
    <% if(list[i].sub.length>0){%>
   
    <div class="title_2 " >
        <div >
          <h4><%= list[i].text %></h4>
        </div>
    </div>
     
    <ul class="shortcut-buttons-set">
        <% for(var j=0;j<list[i].sub.length;j++){ %>
                <li><a class="shortcut-button" href="<%=  list[i].sub[j].route %>">
                        <span>
                    <% if(list[i].sub[j].icons){%>
                    <img src="<%= 'images/icons/'+list[i].sub[j].icons%>" alt="icon" />
                    <% }else{ %>
                    <img src="images/icons/ifeng48.png" alt="icon" />
                    <% } %>
                    <br />
                    <%= list[i].sub[j].text %>
                   
                </span></a></li>
        <% } %>
    </ul><!-- End .shortcut-buttons-set -->
<div class="clear"></div>
         
<% } %>
<% }%>

   
<%- include ../footer %>